<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="CONSOLE_ENCODING" value="GBK"/>
    
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>${CONSOLE_ENCODING}</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- 应用日志级别 -->
    <logger name="com.kwcode" level="DEBUG"/>
    
    <!-- 根日志级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>